$primary: red;

$primary-text: #22232f;
$light-text: #44445f;
$border-color: #eaeaf1;
$background-color: #fefeff;
$background-dark: #e6e6fe;

$smaller-font: 0.9rem;

$button-color: #aaaaff;


$dark-border: #36363a;

$icon-base-color: darkgray;
