* {
  box-sizing: border-box;
}
html, body
{
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input[type="submit"] {
  border: none;
  outline: none;
  padding: 0.6rem 1.4rem;
  font-size: 1.1rem;
  font-weight: 600;
}
button {
  border: none;
  outline: none;
  padding: 0.6rem 1.4rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.small-button {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 4px;
}
input[type="submit"]:hover, .small-button:hover {
  filter: brightness(0.9);
  color: white;
}
input[type="submit"]:active, .small-button:active {
  filter: brightness(0.8);
  box-shadow: 1px 1px 5px lightgray;
}
input[type="text"], input[type="password"] {
  font-weight: 500;
  line-height: 1.6rem;
}
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: auto;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}
rect {
  pointer-events: none;
}

.box {
  width: 80px; height: 80px;
  display: inline-block;
  position: relative;
  border: 1px solid gray;
  background-color: aliceblue;
  opacity: 0.8;
  top: 0;
  left: 0;
  transform-origin: center;
  /*mix-blend-mode: difference;*/
  /*transition: transform 0.1s ease;*/
}
.title-bar {
  height: 1.5rem;
  width: 100%;
  display: inline-block;
  position: absolute;
  border: 1px solid gray;
  background-color: green;
  opacity: 0.9;
  top: 0; left: 0;
}
